body,
html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background: #1C1A1F;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.navbar-bg-dark {
    background-color: #19171C;
}

#sidebar {
    min-width: 15rem;
    max-width: 15rem;
    background: #19171C;
    color: #fff;
    min-height: 100vh;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #131215;
}

#sidebar ul.components {
    padding: 5px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #fff;
    background: #343A40;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #343A40;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #131215;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    CONTROLS
----------------------------------------------------- */

.controls {
    background-color: #19171C;
}

/* .btn:hover {
    background: #17A2B8;
} */

.btn-secondary {
    background: #107282;
}

.btn-secondary:hover {
    background: #107282;
}

.btn-square {
    height: 70px;
    min-width: 70px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}